@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/buttons";
@import "components/card";
@import "components/composition";
@import "components/form";
@import "components/gallery";
@import "components/gridarea";
@import "components/members";
@import "components/modal";
@import "components/profiles";
@import "components/services";
@import "components/showcase";
@import "components/slider";
@import "components/tabs";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/blog";
@import "pages/crew";
@import "pages/home";

/*
a:link,
a:visited {
  color: #cdbaba;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #291d1d;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #f3f3f3;
  border-bottom: 0.1rem solid #ffffff;
}
*/
