.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.25rem 4.5rem; //1.5 4 initial
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    font-size: $default-font-size;
    font-family: "Edo";
    font-weight: 700;
    border: none;
    cursor: pointer;
    //-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    //transition: background-color 0.2s, border 0.2s, color 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
  }

  &--full:link,
  &--full:visited {
    background-color: rgba($color-tertiary-light, 0.8);
    border-bottom: 0.4rem solid $color-alternate-dark-2;
    border-radius: 3px;
    color: $color-alternate-light-2;
    margin-right: 2rem;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 1.7rem 7rem;

    @include respond(phone) {
      padding: 1rem 3rem;
      font-size: 1.2rem;
    }
  }

  &--full:hover,
  &--full:active {
    color: $color-alternate-dark-3;
    background-color: $color-primary-light;
    border-radius: 5px;
    border-bottom: 0.4rem solid $color-alternate-dark-3;
    padding: 1.7rem 7rem;

    @include respond(phone) {
      padding: 1rem 3rem;
      font-size: 1.2rem;
    }
  }

  &--ghost:link,
  &--ghost:visited {
    color: rgba($color-primary-light, 0.7);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    border-bottom: 0.2rem solid rgba($color-secondary-light, 0.7);
    padding: 1.7rem 7rem;

    @include respond(phone) {
      padding: 1rem 3rem;
      font-size: 1.2rem;
    }
  }

  &--ghost:hover,
  &--ghost:active {
    color: $color-tertiary-light;
    background-color: $color-alternate-dark-3;
    border-radius: 5px;
    padding: 1.7rem 7rem;

    @include respond(phone) {
      padding: 1rem 3rem;
      font-size: 1.2rem;
    }
  }

  &--white {
    background-color: $color-primary-light;
    color: rgba($color-secondary-dark, 0.9);

    &::after {
      background-color: $color-primary-light;
    }

    &:hover {
      background-color: darken($color-primary-light, 50%);
    }
  }

  &--fancy {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(
      to right,
      $color-tertiary-light,
      $color-tertiary-light
    );
    color: $color-primary-dark;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    bottom: 4%;
    right: 4%;

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    &__visible {
      padding: 2rem 7.5rem;
    }

    &__invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        $color-primary-light,
        $color-primary-light
      );
    }

    &:hover &__visible {
      transform: translateY(100%);
    }

    &:hover &__invisible {
      top: 0;
    }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}

#btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;

  @include respond(phone) {
    margin-left: 18rem;
  }
}
